header {
background:#005C34;
	
}	
	
.main {
	background-color: #005C34;
	color:#005C34;
}

.color1 {
	background-color:#314396; 
	color:#F2F2F2;
}


aside {
background-color:#005C34;
color:#005C34;
}

footer {
	background-color:#005C34;
	color:#005C34;
}

.color2 {
	background-color:#005C34; 
	color:#005C34;
}

.adaptar {
width: 100%;	
}
