header {

	background:#53911C;
	color:#F2F2F2;
}

.main {
	background-color: #f2f2f2;
	color:#3A3A3A;
}

.color1 {
	background-color:#53911C; 
	color:#F2F2F2;
}


aside {
background-color:#9BD40B;
color:#fff;
}

footer {
	background-color:#3A3A3A;
	color:#A6A6A6;
}

.color2 {
	background-color:#A6A6A6; 
	color:#3A3A3A;
}